.babel.json
.bash_history
.CF*
.config
.d*
.gitconfig
.gnupg*
.jspm
.n*
.op
.s*
.Trash
.v*
.yarnrc
Applications
De*
Do*
Dr*
dev
G*
L*
M*
P*
.code_profiles/*/data/B*
.code_profiles/*/data/C*
.code_profiles/*/data/storage.json