# Ignore everything...
/*

# ...except for these lil’ buddies...
!/.gitignore
!/.bash_profile
!/.bash_completion
!/.bash_prompt

# ...and my VS Code settings...
!.vscode/
.vscode/*
!.vscode/settings.json

# ...and my custom VS Code settings for screencasting.
.code_profiles/screencast/*
!.code_profiles/screencast/data
.code_profiles/screencast/data/*
!.code_profiles/screencast/data/User
.code_profiles/screencast/data/User/*
!.code_profiles/screencast/data/User/settings.json
